<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand">ONYX</a>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="span6">
		<form action="/addVersion" method="post" class="well">
			<label for="version[version]">版本编号</label>
			<input name="version[version]" id="version[version]" type="text" class="span4"/>
			<label for="version[version_date]">发布日期</label>
			<input type="date" name="version[version_date]" id="version[version_date]" class="span4"/>
			<label for="version[url]">下载地址</label>
			<input name="version[url]" id="version[url]" type="text" class="span4"/>
			<label for="version[change_log]">版本变更</label>
			<textarea name="version[change_log]" id="version[change_log]" class="span4"></textarea>
			<input type="hidden" value="" id="files_array" name="version[files_array]"/>
				<input type="submit" value="提交" class="btn-large btn-primary offset3" />
		</form>
	</div>
	<div class="well span6">
		<label>添加文件</label>
		<div class=" form-inline">
			<input name="file_name" id="file_name" type="text" class=" " placeholder="name"/>
			<input name="file_url" id="file_url" type="text" class="" placeholder="url"/>
			<button class="btn btn-success" onclick="add_file()">
				添加
			</button>
		</div>
		<ul id="file_list">

		</ul>
	</div>

	<script>
        var files = {files:[]};
        function add_file() {
            var file = {};
            file.name = $("#file_name").val();
            file.url = $("#file_url").val();
            files.files.push(file);
            var files_str = JSON.stringify(files);
            $("#files_array").val(files_str);
            console.log(files_str);
            // alert($("#files_array").val());
            var str = "<li><span>" + file.name + "</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>" + file.url + "</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='labellabel - important'>delete</span></li>"
            $("#file_list").append(str).trigger('create');
        }

        function delete_file(file_index) {

        }
	</script>
</div>
